:root{--color-primary:#F59E0B;--color-secondary:#0B7C66;--header-height:76px}
.ribbon{background:linear-gradient(90deg,var(--color-secondary),var(--color-primary));color:#fff}
@tailwind base;
@tailwind components;
@tailwind utilities;
